In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.DataFrame(["lenna", "koala", "cat", "sunflower", "oggy", "android"], columns=["images"])

In [6]:
df

      images
0      lenna
1      koala
2        cat
3  sunflower
4       oggy
5    android

In [7]:
df["original_file_size(mb)"] = [87, 13, 12, 21, 6, 6]

In [9]:
df["compressed_file_size(mb)"] = [9, 10, 8, 4.96, 3, 2]

In [16]:
df["PSNR_value"] = [32.5142, 31.8612, 28.4723, 30.1459, 33.0566, 37.210 ]

In [14]:
df["Compression_ratio"] = [9.66, 1.3, 1.5, 4.23, 2, 3]

In [20]:
df

,images,original_file_size(mb),compressed_file_size(mb),Compression_ratio,PSNR_value
0,lenna,87,9.00,9.66,32.5142
1,koala,13,10.00,1.30,31.8612
2,cat,12,8.00,1.50,28.4723
3,sunflower,21,4.96,4.23,30.1459
4,oggy,6,3.00,2.00,33.0566
5,android,6,2.00,3.00,37.2100